 <table id="table" class="table" >
<tr>
      <td>  {{vin}}</td>
       <td>
                {{year}}
             </td>   
              <td>
                {{make}}
            </td>
      <td>
                {{model}}
            </td>
            <td>
           {{#if registration}}
        {{>registration-info registration}}
        {{else}}
        <a href="/register/{{vin}}"><button>Add Registration</button></a>
        {{/if}}
            </td>
            <td>
               {{#if insurance}}
        {{>insurance-info insurance}}
        {{else}}
  <a href="/insure/{{vin}}"><button>Add Insurance</button></a>
        {{/if}}
            </td>
    </tr>
</table>
      {{!-- <div>
    <h3>VIN: {{vin}}</h3>
    <div>Make: {{make}}</div>
    <div>Model: {{model}}</div>

  
