<div>
    <h3>VIN: {{vin}}</h3>
    <div>Make: {{make}}</div>
    <div>Model: {{model}}</div>

    <div>
        {{#if registration}}
        {{>registration-info registration}}
        {{else}}
        <button>Add Registration</button>
        {{/if}}
    </div>

    <div>
        {{#if insurance}}
        {{>insurance-info insurance}}
        {{else}}
        <button>Add insurance</button>
        {{/if}}
    </div>
</div>