    <h1>My Vehicles</h1>

    <div id='container'></div>

<script id="templateOne" type="x-template">
    <table id="table" class="table table-striped table-bordered table-condensed table-hover" >
        <tr> 
            <th>
                Vehicle
            </th>
            <th>
                Information
            </th>                                                
        </tr>           
            {{#rows}} 
        <tr>
            <td>
                {{vin}}
            </td>
             <td>
                {{type}}
             </td>                     
        </tr>    
            <td>
                {{make}}
            </td>
            <td>
                {{model}}
            </td>
            <td>
                {{purchased}}
            </td>
            <td>
                {{state}}
            </td>
            <td>
                {{insured}}
            </td>
                {{/rows}}        
    </table>                	     	        	
</script>